Repository jd-ftf/wot-design, pull requests merged in 2020-11, with the labels that each got.

#221 upload: 国际化添加
  packages/upload/src/main.vue
  src/locale/lang/zh-CN.js
Labels: i18n, upload

#224 fix: 修复 upload 没有上传文件的问题，添加 name 属性和 data 属性
  examples/docs/docs/upload.md
  packages/upload/src/main.vue
  packages/upload/src/utils.js
Labels: docs, example, upload

#225 Fix ul
  examples/demo/assets/style/base.scss
  examples/demo/pages/icon.vue
  examples/demo/pages/index.vue
  examples/demo/pages/swipeAction.vue
  examples/demo/pages/tooltip.vue
  packages/col-picker/src/main.vue
  src/style/picker-view.scss
  src/style/radio.scss
  src/style/rate.scss
Labels: demo, example, examples, icon, index, radio, rate, style, swipeAction, tooltip

#226 feat: 优化 sticky 的实现，去掉 container 属性，改为自动获取
  examples/demo/pages/sticky.vue
  examples/docs/docs/sticky.md
  packages/sticky/src/main.vue
  packages/tabs/src/main.vue
Labels: demo, docs, example, examples, sticky, tabs

#222 Fix
  examples/demo/icon.json
  examples/demo/pages/tag.vue
  examples/demo/routes.yml
  examples/docs/docs/colPicker.md
  examples/docs/docs/picker.md
  examples/docs/docs/pickerView.md
  examples/docs/docs/selectPicker.md
  examples/docs/routes.yml
  src/style/fonts/wd-icons.svg
  src/style/fonts/wd-icons.ttf
  src/style/icon.scss
  src/style/tag.scss
Labels: demo, docs, example, icon, style, tag

#227 feat(sortButton): 新增 line 属性
  examples/demo/pages/sortButton.vue
  examples/docs/docs/sortButton.md
  packages/sort-button/src/main.vue
  src/style/sort-button.scss
Labels: demo, docs, example, examples, sortButton

#229 feat(upload): 新增 name-key 和 status-key 属性
  examples/docs/docs/upload.md
  packages/upload/src/main.vue
Labels: docs, example, upload

#230 fix(collapse): 修正 line-num 字段名，将展开收起设置为行内块
  packages/collapse/src/main.vue
  src/style/collapse.scss
Labels: collapse, style

#231 update(colPicker): 优化 colPicker 初始化数据的使用，可以通过 columnChange 自动补齐 colum…
  examples/demo/pages/colPicker.vue
  examples/docs/docs/colPicker.md
  packages/col-picker/src/main.vue
Labels: colPicker, demo, docs, example, examples

#233 fix(picker): 修正设置 arrow-html 属性，回显没有按照html渲染的问题
  examples/demo/pages/picker.vue
  examples/docs/docs/picker.md
  src/mixins/picker.js
Labels: demo, docs, example, examples, mixins, picker

#234 update: 添加泰文，colPicker 国际化，upload 进度取整，上传失败不展示文件名
  examples/demo/main.js
  examples/demo/routes.yml
  examples/docs/routes.yml
  packages/col-picker/src/main.vue
  packages/input/src/main.vue
  packages/upload/src/main.vue
  src/locale/lang/en-US.js
  src/locale/lang/th-TH.js
  src/locale/lang/zh-CN.js
Labels: demo, docs, example, i18n, input, upload

#238 Popup
  examples/demo/main.js
  examples/demo/pages/popup.vue
  examples/docs/docs/actionSheet.md
  examples/docs/docs/curtain.md
  examples/docs/docs/datetimePicker.md
  examples/docs/docs/input.md
  examples/docs/docs/messageBox.md
  examples/docs/docs/picker.md
  examples/docs/docs/popup.md
  examples/docs/docs/selectPicker.md
  packages/action-sheet/src/main.vue
  packages/curtain/src/main.vue
  packages/datetime-picker/src/main.vue
  packages/message-box/src/main.vue
  packages/picker/src/main.vue
  packages/popup/src/main.vue
  packages/select-picker/src/main.vue
  src/mixins/popup/index.js
Labels: actionSheet, curtain, datetimePicker, demo, docs, example, examples, input, messageBox, mixins, picker, popup, selectPicker
