Repository jd-ftf/wot-design, pull requests merged in 2020-03, with the labels that each got.

#59 feat: 添加组件grid、gridItem
  components.json
  examples/demo/assets/img/jd.png
  examples/demo/pages.config.json
  examples/demo/pages/grid.vue
  examples/docs/docs/grid.md
  examples/docs/layout/header.vue
  examples/docs/pages.config.json
  packages/grid-item/index.js
  packages/grid-item/src/main.vue
  packages/grid/index.js
  packages/grid/src/main.vue
  src/index.js
  src/style/abstracts/_variable.scss
  src/style/grid-item.scss
  src/style/grid.scss
  src/style/index.scss
Labels: badge, demo, docs, example, examples, grid, index, style

#70 feat(statusTip): add new component
  components.json
  examples/demo/pages.config.json
  examples/demo/pages/statusTip.vue
  examples/docs/docs/statusTip.md
  examples/docs/pages.config.json
  packages/status-tip/img/default-collect.svg
  packages/status-tip/img/default-comment.svg
  packages/status-tip/img/default-content.svg
  packages/status-tip/img/default-halo.svg
  packages/status-tip/img/default-message.svg
  packages/status-tip/img/default-network.svg
  packages/status-tip/img/default-search.svg
  packages/status-tip/index.js
  packages/status-tip/src/main.vue
  src/index.js
  src/style/abstracts/_variable.scss
  src/style/index.scss
  src/style/status-tip.scss
Labels: demo, docs, example, examples, index, statusTip, style

#72 fix: 菜单按字母排序
  examples/demo/pages.config.json
  examples/docs/pages.config.json
Labels: demo, docs, example

#80 test: tooltip添加单元测试
  examples/demo/pages/tooltip.vue
  packages/tooltip/src/main.vue
  src/style/tooltip.scss
  test/unit/Tooltip.spec.js
Labels: Tooltip.spec, demo, example, examples, style, test, tooltip, unit

#82 Fix 1.4.0, release 1.4.1
  components.json
  examples/demo/components/demoBlock.vue
  examples/demo/pages/collapse.vue
  examples/demo/pages/img.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/dropMenu.md
  package.json
  src/index.js
Labels: changelog, collapse, demo, docs, dropMenu, example, examples, img, package
