Repository jd-ftf/wot-design, pull requests merged in 2020-02, with the labels that each got.

#34 新增组件
  components.json
  examples/demo/pages.config.json
  examples/demo/pages/tooltip.vue
  examples/demo/versions.json
  examples/docs/docs/tooltip.md
  examples/docs/layout/header.vue
  examples/docs/layout/search.vue
  examples/docs/pages.config.json
  package-lock.json
  package.json
  packages/toast/src/main.vue
  packages/tooltip/index.js
  packages/tooltip/src/main.vue
  src/index.js
  src/style/abstracts/_variable.scss
  src/style/index.scss
  src/style/tooltip.scss
  src/utils/clickoutside.js
Labels: demo, docs, example, examples, index, package, style, toast, tooltip

#37 docs: 优化版本切换，持续保持最新列表
  build/webpack.docs.conf.js
  examples/docs/layout/header.vue
  examples/docs/public/versions.json
  package-lock.json
  package.json
Labels: build, docs, example, package

#38 chore: 节省 repo 存储空间
  build/deploy/after-deploy.sh
  package.json
Labels: build, deploy, package

#39 文档标题修改
  examples/docs/layout/header.vue
Labels: docs, example

#40 docs: 优化搜索响应式，优化版本切换样式
  examples/docs/layout/header.vue
  examples/docs/layout/sideTabs.vue
Labels: docs, example

#43 release: v1.3.0
  .gitignore
  build/webpack.docs.conf.js
  examples/docs/docs/changelog.md
  examples/docs/docs/install.md
  examples/docs/public/versions.json
  package.json
  src/index.js
Labels: changelog, docs, example, install, package

#51 test(badge): 徽章组件单元测试
  packages/badge/src/main.vue
  test/unit/Badge.spec.js
Labels: Badge.spec, badge, test, unit

#52 feat(dropMenu): 添加dropMenu组件
  components.json
  examples/demo/pages.config.json
  examples/demo/pages/dropMenu.vue
  examples/demo/pages/tooltip.vue
  examples/docs/docs/dropMenu.md
  examples/docs/pages.config.json
  packages/drop-menu-item/index.js
  packages/drop-menu-item/src/main.vue
  packages/drop-menu/index.js
  packages/drop-menu/src/main.vue
  packages/tooltip/src/main.vue
  src/index.js
  src/style/abstracts/_variable.scss
  src/style/drop-menu-item.scss
  src/style/drop-menu.scss
  src/style/index.scss
Labels: demo, docs, dropMenu, example, examples, index, style, tooltip

#54 fix: 修正SEO keywords，添加使用反馈
  examples/docs/index.html
  examples/docs/layout/header.vue
  examples/docs/layout/survey.vue
Labels: docs, example

#56 cell: 单元测试，同时修复标签包裹问题，修正router的判断
  packages/cell/src/main.vue
  src/style/cell.scss
  test/unit/Cell.spec.js
Labels: Cell.spec, cell, style, test, unit

#57 checkbox: 单元测试，修正单个复选框下的change事件触发和入参
  examples/demo/components/demoBlock.vue
  examples/demo/pages/checkbox.vue
  packages/checkbox/src/main.vue
  test/unit/Checkbox.spec.js
  test/unit/utils.js
Labels: Checkbox.spec, checkbox, demo, example, examples, test, unit, utils
