Repository jd-ftf/wot-design, pull requests merged in 2020-01, with the labels that each got.

#28 fix(travis): format
  .travis.yml
Labels: deploy, travis

#29 docs: fix touch emulator, beutify docs
  examples/demo/main.js
  examples/demo/pages/index.vue
  examples/demo/route.js
  examples/demo/utils/touch-emulator.js
  examples/docs/assets/style/layout/pageController.scss
  examples/docs/assets/style/layout/sidebar.scss
  examples/docs/docs/introduction.md
  examples/docs/docs/picker.md
  examples/docs/docs/pickerView.md
  examples/docs/index.html
  examples/docs/layout/header.vue
  examples/docs/layout/pageController.vue
  examples/docs/layout/sideTabs.vue
  package-lock.json
  package.json
Labels: demo, docs, example, examples, index, introduction, picker, pickerView

#32 Docs update
  examples/demo/utils/touch-emulator.js
  examples/docs/assets/style/base.scss
  examples/docs/index.html
  examples/docs/layout/header.vue
  examples/docs/layout/main.vue
  examples/docs/layout/scrollTop.vue
  examples/docs/layout/sideTabs.vue
  examples/docs/layout/sidebar.vue
  examples/docs/pages/changelog.vue
  package.json
Labels: demo, docs, example
