Repository jd-ftf/wot-design, pull requests merged in 2020-12, with the labels that each got.

#240 feat: 修复 datetimePicker value 为 undefined 报错的问题，picker 类型组件添加 closeOn…
  examples/demo/pages/cell.vue
  examples/docs/docs/colPicker.md
  examples/docs/docs/datetimePicker.md
  examples/docs/docs/locale.md
  examples/docs/docs/picker.md
  examples/docs/docs/selectPicker.md
  packages/action-sheet/src/main.vue
  packages/col-picker/src/main.vue
  packages/datetime-picker/src/main.vue
  packages/picker/src/main.vue
  packages/picker/src/pickerProps.js
  packages/select-picker/src/main.vue
Labels: cell, colPicker, datetimePicker, demo, docs, example, examples, locale, picker, selectPicker

#241 fix: 调整组件样式
  examples/demo/pages/cell.vue
  src/style/abstracts/_variable.scss
  src/style/action-sheet.scss
  src/style/cell.scss
  src/style/picker.scss
Labels: cell, demo, example, examples, picker, style

#242 BugFix
  examples/demo/pages/picker.vue
  examples/demo/pages/tabs.vue
  packages/drop-menu-item/src/main.vue
  packages/picker-view/src/main.vue
  packages/picker/src/main.vue
  packages/tabs/src/main.vue
Labels: demo, example, examples, picker, tabs

#243 fix(upload): 修正事件和函数的参数传递
  examples/demo/pages/upload.vue
  examples/docs/docs/imgPreview.md
  examples/docs/docs/upload.md
  packages/img-preview/index.js
  packages/img-preview/src/main.vue
  packages/upload/src/main.vue
Labels: demo, docs, example, examples, imgPreview, upload

#244 update(checkbox): true-value 和 false-value 设置支持空字符串
  examples/demo/pages/input.vue
  packages/checkbox/src/main.vue
Labels: checkbox, demo, example, examples, input

#247 Fix
  examples/docs/docs/imgPreview.md
  packages/drop-menu-item/src/main.vue
  packages/grid-item/src/main.vue
  packages/img-preview/src/main.vue
  packages/infinite-load/src/main.vue
  packages/message-box/src/main.vue
  packages/notice-bar/src/main.vue
  packages/pagination/src/main.vue
  packages/pull-refresh/src/main.vue
  packages/tooltip/src/main.vue
  src/style/infinite-load.scss
  src/style/pagination.scss
  src/style/popover.scss
Labels: docs, example, imgPreview, pagination, popover, style, tooltip

#248 fix: radio 、checkbox 添加 line-height，避免被外部影响位置
  src/style/checkbox.scss
  src/style/radio.scss
Labels: checkbox, radio, style

#249 release: 2.2.0
  examples/docs/docs/changelog.md
  package.json
  src/index.js
Labels: changelog, docs, example, package

#251 docs: 国际化文档修改
  examples/docs/docs/locale.md
Labels: docs, example, locale

#254 Fix
  examples/docs/docs/changelog.md
  packages/infinite-load/src/main.vue
  src/style/search.scss
Labels: changelog, docs, example, search, style

#255 Fix
  examples/docs/docs/changelog.md
  packages/message-box/index.js
  src/style/picker.scss
Labels: changelog, docs, example, picker, style

#256 Fix
  examples/docs/docs/changelog.md
  packages/picker-view/src/main.vue
  packages/picker-view/src/pickerColumn.vue
Labels: changelog, docs, example

#257 style: popover 样式切换修复
  examples/docs/docs/changelog.md
  src/style/abstracts/_mixin.scss
Labels: changelog, docs, example

#258 Fix
  examples/demo/route.js
  examples/docs/docs/changelog.md
  src/style/tabbar-item.scss
  src/style/tabs.scss
Labels: changelog, demo, docs, example, style, tabs

#259 release: 2.2.1
  package.json
Labels: package
