Repository jd-ftf/wot-design, pull requests merged in 2020-09, with the labels that each got.

#191 Bug fix
  packages/button/src/main.vue
  packages/message-box/src/main.vue
  packages/picker-view/src/main.vue
  packages/picker-view/src/pickerColumn.vue
  packages/picker/src/main.vue
  packages/status-tip/img/default-collect.png
  packages/status-tip/img/default-comment.png
  packages/status-tip/img/default-content.png
  packages/status-tip/img/default-halo.png
  packages/status-tip/img/default-message.png
  packages/status-tip/img/default-network.png
  packages/status-tip/img/default-search.png
  packages/status-tip/src/main.vue
  src/style/abstracts/_mixin.scss
  src/style/abstracts/_variable.scss
  src/style/col-picker.scss
  src/style/index.scss
  src/style/message-box.scss
  src/style/picker.scss
  src/style/popup.scss
Labels: button, index, picker, popup, style

#192 fix(button): 圆角按钮圆角还原度，修复2px偏差
  src/style/abstracts/_variable.scss
  src/style/button.scss
Labels: button, style

#193 fix: bug fix
  examples/demo/pages/radio.vue
  examples/demo/pages/toast.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/datetimePicker.md
  packages/datetime-picker-view/src/main.vue
  packages/datetime-picker/src/main.vue
  packages/grid-item/src/main.vue
  packages/grid/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/checkbox-group.scss
  src/style/checkbox.scss
  src/style/drop-menu.scss
  src/style/grid-item.scss
  src/style/picker.scss
  src/style/radio-group.scss
Labels: changelog, checkbox, datetimePicker, demo, docs, example, examples, grid, picker, radio, style, toast

#194 release: 2.0.0-beta3 发版
  package.json
  src/index.js
Labels: package

#196 feat(lazyLoad): 图片懒加载兜底图
  examples/demo/pages/lazyload.vue
  examples/docs/docs/lazyload.md
  packages/lazyload/img/error.svg
  packages/lazyload/img/loading.svg
  packages/lazyload/index.js
  src/style/lazyload.scss
Labels: demo, docs, example, examples, lazyload, style

#197 feat(divider): 新增分割线组件
  components.json
  examples/demo/pages/divider.vue
  examples/demo/routes.yml
  examples/docs/docs/divider.md
  examples/docs/routes.yml
  packages/divider/index.js
  packages/divider/src/main.vue
  src/index.js
  src/style/abstracts/_variable.scss
  src/style/divider.scss
  src/style/index.scss
Labels: demo, divider, docs, example, examples, index, style

#200 Dropmenu
  examples/demo/pages/dropMenu.vue
  examples/demo/pages/sortButton.vue
  examples/docs/docs/dropMenu.md
  examples/docs/docs/input.md
  examples/docs/docs/sortButton.md
  packages/drop-menu-item/src/main.vue
  packages/drop-menu/src/main.vue
  packages/infinite-load/src/main.vue
  packages/modal/src/main.vue
  packages/search/src/main.vue
  packages/sort-button/src/main.vue
  src/mixins/popup/index.js
  src/style/abstracts/_variable.scss
  src/style/col-picker.scss
  src/style/drop-menu-item.scss
  src/style/drop-menu.scss
  src/style/search.scss
  src/style/sort-button.scss
  src/style/tabs.scss
  src/utils/clickoutside.js
Labels: demo, docs, dropMenu, example, examples, input, mixins, modal, popup, search, sortButton, style, tabs

#199 feat(upload): 新增上传组件
  build/build-entry.js
  components.json
  examples/demo/icon.json
  examples/demo/pages/imgPreview.vue
  examples/demo/pages/index.vue
  examples/demo/pages/upload.vue
  examples/demo/routes.yml
  examples/docs/docs/imgPreview.md
  examples/docs/docs/messageBox.md
  examples/docs/docs/upload.md
  examples/docs/routes.yml
  packages/img-preview/index.js
  packages/img-preview/src/main.vue
  packages/swipe/src/main.vue
  packages/upload/index.js
  packages/upload/src/main.vue
  packages/upload/src/utils.js
  src/index.js
  src/style/abstracts/_variable.scss
  src/style/cell.scss
  src/style/fonts/wd-icons.svg
  src/style/fonts/wd-icons.ttf
  src/style/icon.scss
  src/style/img-preview.scss
  src/style/index.scss
  src/style/upload.scss
  src/utils/index.js
Labels: demo, docs, example, examples, index, style, upload

#201 feat(curtain): 新增幕帘
  components.json
  examples/demo/pages/curtain.vue
  examples/demo/routes.yml
  examples/docs/docs/curtain.md
  examples/docs/routes.yml
  package-lock.json
  packages/curtain/index.js
  packages/curtain/src/main.vue
  src/index.js
  src/style/abstracts/_variable.scss
  src/style/curtain.scss
  src/style/index.scss
Labels: curtain, demo, docs, example, examples, index, style

#204 Fix bug
  examples/demo/pages/dropMenu.vue
  examples/docs/docs/colPicker.md
  examples/docs/docs/dropMenu.md
  packages/col-picker/src/main.vue
  packages/drop-menu/src/main.vue
  packages/search/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/drop-menu.scss
  src/style/search.scss
Labels: colPicker, demo, docs, dropMenu, example, examples, search, style

#205 Fix
  examples/demo/icon.json
  examples/demo/pages/badge.vue
  examples/demo/pages/button.vue
  examples/demo/pages/card.vue
  examples/demo/pages/form.vue
  examples/demo/pages/popup.vue
  examples/demo/pages/radio.vue
  examples/demo/pages/tooltip.vue
  examples/docs/assets/img/phone-case.png
  examples/docs/assets/style/base.scss
  examples/docs/docs/badge.md
  examples/docs/docs/button.md
  examples/docs/docs/card.md
  examples/docs/docs/changelog.md
  examples/docs/docs/customTheme.md
  examples/docs/docs/form.md
  examples/docs/docs/pagination.md
  examples/docs/docs/pullRefresh.md
  examples/docs/docs/radio.md
  examples/docs/layout/sideTabs.vue
  packages/button/src/main.vue
  packages/input/src/main.vue
  packages/message-box/src/main.vue
  packages/pagination/src/main.vue
  packages/pull-refresh/src/main.vue
  packages/radio-group/src/main.vue
  packages/radio/src/main.vue
  packages/select-picker/src/main.vue
  src/mixins/popover.js
  src/style/abstracts/_variable.scss
  src/style/button.scss
  src/style/fonts/wd-icons.svg
  src/style/fonts/wd-icons.ttf
  src/style/icon.scss
  src/style/img-preview.scss
  src/style/input.scss
  src/style/pull-refresh.scss
  src/style/radio.scss
  src/style/select-picker.scss
  src/style/sort-button.scss
Labels: badge, button, card, changelog, demo, docs, example, examples, form, icon, input, mixins, pagination, popover, popup, pullRefresh, radio, style, tooltip
