Repository jd-ftf/wot-design, pull requests merged in 2020-10, with the labels that each got.

#215 docs: 感谢netlify对开源项目的赞助
  README.md
  examples/docs/layout/sidebar.vue
Labels: docs, example

#216 docs: 修正文档介绍页组件数量描述
  examples/docs/docs/introduction.md
  package-lock.json
Labels: docs, example, introduction

#217 Wj
  examples/demo/pages/loading.vue
  examples/demo/pages/radio.vue
  examples/demo/pages/rate.vue
  examples/docs/docs/loading.md
  examples/docs/docs/rate.md
  packages/action-sheet/src/main.vue
  packages/rate/src/main.vue
  packages/tabs/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/rate.scss
  src/style/swipe.scss
  src/style/tabs.scss
  test/unit/Img.spec.js
Labels: Img.spec, demo, docs, example, examples, loading, radio, rate, style, swipe, tabs, test, unit

#218 Wj
  packages/rate/src/main.vue
Labels: Img.spec, demo, docs, example, examples, loading, radio, rate, style, swipe, tabs, test, unit
