Repository jd-ftf/wot-design, pull requests merged in 2020-07, with the labels that each got.

#114 feat(toast): toast升级
  examples/demo/pages/toast.vue
  examples/docs/docs/toast.md
  packages/loading/src/main.vue
  packages/toast/index.js
  packages/toast/src/icon.vue
  packages/toast/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/loading.scss
  src/style/toast.scss
Labels: demo, docs, example, examples, style, toast

#115 docs: 修改路由配置
  build/file-writer.js
  build/sitemap.js
  build/webpack.docs.conf.js
  examples/demo/components/container.vue
  examples/demo/pages.config.json
  examples/demo/pages/index.vue
  examples/demo/route.js
  examples/demo/routes.yml
  examples/demo/versions.json
  examples/docs/docs/actionSheet.md
  examples/docs/layout/header.vue
  examples/docs/layout/pageController.vue
  examples/docs/layout/sidebar.vue
  examples/docs/pages.config.json
  examples/docs/route.js
  examples/docs/routes.yml
  examples/docs/utils/index.js
  examples/docs/utils/pageCache.js
  package-lock.json
  package.json
Labels: actionSheet, build, demo, docs, example, examples, index, package

#116 fix: 修复demo展开，首页添加keep-alive
  examples/demo/App.vue
  examples/demo/pages/index.vue
Labels: demo, example, examples, index

#117 feat(tooltip): tooltip升级
  components.json
  examples/demo/icon.json
  examples/demo/pages/index.vue
  examples/demo/pages/popover.vue
  examples/demo/pages/tooltip.vue
  examples/demo/routes.yml
  examples/docs/docs/popover.md
  examples/docs/docs/tooltip.md
  examples/docs/routes.yml
  package-lock.json
  packages/popover/index.js
  packages/popover/src/main.vue
  packages/tooltip/src/main.vue
  src/index.js
  src/style/abstracts/_function.scss
  src/style/abstracts/_mixin.scss
  src/style/abstracts/_variable.scss
  src/style/fonts/wd-icons.svg
  src/style/fonts/wd-icons.ttf
  src/style/icon.scss
  src/style/index.scss
  src/style/popover.scss
  src/style/tooltip.scss
  src/utils/popover.js
  test/unit/Tooltip.spec.js
Labels: demo, docs, example, examples, icon, index, popover, style, tooltip

#120 feat(tabs): tabs样式修改
  examples/demo/pages/statusTip.vue
  examples/docs/docs/tabs.md
  packages/tabs/src/main.vue
  src/style/abstracts/_mixin.scss
  src/style/abstracts/_variable.scss
  src/style/tabs.scss
  test/unit/Tab.spec.js
Labels: demo, docs, example, examples, statusTip, style, tabs

#121 feat(navbar): navbar升级
  examples/demo/pages/navbar.vue
  examples/docs/docs/navbar.md
  packages/navbar/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/navbar.scss
Labels: demo, docs, example, examples, navbar, style

#126 feat(actionSheet): 动作面板样式修改
  examples/demo/pages/actionSheet.vue
  examples/docs/docs/actionSheet.md
  packages/action-sheet/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/action-sheet.scss
Labels: actionSheet, demo, docs, example, examples

#132 feat(badge): badge样式修改
  examples/demo/assets/style/base.scss
  examples/docs/docs/badge.md
  src/style/abstracts/_variable.scss
  src/style/badge.scss
  test/unit/Badge.spec.js
Labels: Badge.spec, badge, demo, docs, example, style, test, unit

#138 feat(grid): grid升级
  examples/demo/assets/img/jd.png
  examples/demo/pages/grid.vue
  examples/docs/docs/grid.md
  packages/grid-item/src/main.vue
  packages/grid/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/grid-item.scss
Labels: demo, docs, example, examples, grid

#140 feat(input-number): 计数器升级
  examples/demo/icon.json
  packages/input-number/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/fonts/wd-icons.svg
  src/style/fonts/wd-icons.ttf
  src/style/grid-item.scss
  src/style/icon.scss
  src/style/input-number.scss
Labels: demo, example, icon, style

#141 feat(tag): tag样式升级
  examples/demo/pages/tag.vue
  examples/docs/docs/tag.md
  packages/search/src/main.vue
  packages/tag/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/tag.scss
Labels: demo, docs, example, examples, search, style, tag

#142 feat(message-box): 消息提示升级
  packages/message-box/src/main.vue
  packages/toast/src/icon.vue
  src/style/abstracts/_variable.scss
  src/style/message-box.scss
  src/style/toast.scss
Labels: style, toast

#144 feat(checkbox): checkbox 升级
  examples/demo/icon.json
  examples/demo/pages/checkbox.vue
  examples/docs/docs/checkbox.md
  packages/checkbox-group/src/main.vue
  packages/checkbox/src/main.vue
  packages/input-number/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/checkbox-group.scss
  src/style/checkbox.scss
  src/style/fonts/wd-icons.svg
  src/style/fonts/wd-icons.ttf
  src/style/icon.scss
  src/style/index.scss
  test/unit/Checkbox.spec.js
Labels: checkbox, demo, docs, example, examples, grid, icon, style

#147 feat(tabbar): tabbar品牌升级
  examples/demo/pages/tabbar.vue
  examples/docs/docs/badge.md
  examples/docs/docs/tabbar.md
  packages/badge/src/main.vue
  packages/tabbar-item/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/badge.scss
  src/style/tabbar-item.scss
  test/unit/Badge.spec.js
Labels: demo, example, examples, tabbar

#146 feat(radio): 单选升级
  examples/demo/pages/radio.vue
  examples/docs/docs/radio.md
  packages/radio-group/src/main.vue
  packages/radio/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/checkbox-group.scss
  src/style/checkbox.scss
  src/style/radio-group.scss
  src/style/radio.scss
Labels: checkbox, demo, docs, example, examples, radio, style
