Repository jd-ftf/wot-design, pull requests merged in 2020-08, with the labels that each got.

#151 feat(cell): cell表单升级
  examples/demo/pages/cell.vue
  examples/demo/pages/input.vue
  examples/docs/docs/cell.md
  packages/cell-group/src/main.vue
  packages/cell/src/main.vue
  packages/input/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/cell-group.scss
  src/style/cell.scss
  src/style/input.scss
  test/unit/Cell.spec.js
Labels: cell, demo, docs, example, examples, input, style

#153 feat(slider): slider升级
  examples/docs/docs/slider.md
  src/style/abstracts/_variable.scss
  src/style/slider.scss
Labels: docs, example, slider, style

#154 feat(progress): progress升级
  examples/demo/pages/progress.vue
  examples/docs/docs/actionSheet.md
  examples/docs/docs/progress.md
  packages/progress/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/progress.scss
  src/style/tag.scss
Labels: actionSheet, demo, docs, example, examples, progress, style, tag

#155 feat: cell 和 input 样式升级
  examples/demo/pages/cell.vue
  examples/demo/pages/form.vue
  examples/demo/pages/input.vue
  examples/docs/docs/cell.md
  examples/docs/docs/input.md
  packages/cell/src/main.vue
  packages/input/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/cell-group.scss
  src/style/cell.scss
  src/style/input.scss
  test/unit/Cell.spec.js
Labels: cell, demo, docs, example, examples, form, input, style

#156 demo(input): 修改input demo图标
  examples/demo/pages/input.vue
Labels: demo, example, examples, input

#157 feat: 多列选择器col-picker
  components.json
  examples/demo/pages/colPicker.vue
  examples/demo/routes.yml
  examples/docs/docs/colPicker.md
  examples/docs/routes.yml
  package-lock.json
  package.json
  packages/col-picker/index.js
  packages/col-picker/src/main.vue
  src/index.js
  src/locale/lang/en-US.js
  src/locale/lang/zh-CN.js
  src/style/abstracts/_variable.scss
  src/style/col-picker.scss
  src/style/index.scss
Labels: colPicker, demo, docs, example, examples, i18n, index, package, style

#162 feat(input, cell): 设计稿还原，input 添加 click-prefix-icon 和 click-suffix-icon 和 required属性
  examples/demo/pages/input.vue
  examples/docs/docs/input.md
  packages/input/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/cell.scss
  src/style/input.scss
Labels: cell, demo, docs, example, examples, input, style

#145 feat(picker): picker升级，添加滚轮模式
  examples/demo/pages/datetimePicker.vue
  examples/demo/pages/datetimePickerView.vue
  examples/demo/pages/picker.vue
  examples/demo/pages/pickerView.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/datetimePicker.md
  examples/docs/docs/datetimePickerView.md
  examples/docs/docs/picker.md
  examples/docs/docs/pickerView.md
  packages/datetime-picker-view/src/datetimePickerProps.js
  packages/datetime-picker-view/src/main.vue
  packages/datetime-picker/src/main.vue
  packages/picker-view/src/main.vue
  packages/picker-view/src/pickerColumn.vue
  packages/picker-view/src/pickerViewProps.js
  packages/picker/src/main.vue
  packages/picker/src/pickerProps.js
  src/mixins/datetimePickerView.js
  src/mixins/picker.js
  src/style/abstracts/_variable.scss
  src/style/picker-view.scss
  src/style/picker.scss
Labels: datetimePicker, demo, docs, example, examples, picker, pickerView, style

#159 feat(rate): rate升级
  examples/demo/icon.json
  examples/demo/pages/rate.vue
  examples/docs/docs/rate.md
  packages/rate/src/main.vue
  src/style/fonts/wd-icons.svg
  src/style/fonts/wd-icons.ttf
  src/style/icon.scss
  src/style/rate.scss
Labels: demo, docs, example, examples, rate, style

#164 docs: changelog更新
  examples/docs/docs/changelog.md
  examples/docs/docs/grid.md
  examples/docs/docs/noticeBar.md
  examples/docs/docs/toast.md
Labels: changelog, docs, example, grid, noticeBar, toast

#163 feat(colPicker): 新增 required 属性，还原设计稿
  examples/demo/pages/colPicker.vue
  examples/docs/docs/colPicker.md
  packages/col-picker/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/cell-group.scss
  src/style/col-picker.scss
Labels: colPicker, demo, docs, example, examples

#165 Radio checkbox
  examples/demo/icon.json
  examples/demo/pages/checkbox.vue
  examples/demo/pages/datetimePicker.vue
  examples/demo/pages/picker.vue
  examples/demo/pages/radio.vue
  examples/demo/pages/search.vue
  examples/demo/pages/swipeAction.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/checkbox.md
  examples/docs/docs/introduction.md
  examples/docs/docs/picker.md
  examples/docs/docs/radio.md
  examples/docs/docs/search.md
  packages/checkbox-group/src/main.vue
  packages/col-picker/src/main.vue
  packages/radio-group/src/main.vue
  packages/search/src/main.vue
  src/mixins/picker.js
  src/style/abstracts/_variable.scss
  src/style/cell-group.scss
  src/style/cell.scss
  src/style/checkbox-group.scss
  src/style/col-picker.scss
  src/style/message-box.scss
  src/style/picker.scss
  src/style/radio-group.scss
  src/style/search.scss
Labels: cell, changelog, checkbox, demo, docs, example, examples, introduction, mixins, picker, radio, search, style, swipeAction

#167 release: 2.0.0-beta1 测试包发布
  package.json
  src/index.js
Labels: package

#168 docs: changelog 更新
  examples/docs/docs/changelog.md
Labels: changelog, docs, example

#169 fix: demo 修复 docs 修复
  examples/demo/pages/navbar.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/tooltip.md
Labels: changelog, demo, docs, example, examples, navbar, tooltip

#166 feat(card): 新增卡片组件
  components.json
  examples/demo/assets/style/base.scss
  examples/demo/pages/card.vue
  examples/demo/routes.yml
  examples/docs/docs/card.md
  examples/docs/routes.yml
  packages/card/index.js
  packages/card/src/main.vue
  src/index.js
  src/style/abstracts/_variable.scss
  src/style/card.scss
  src/style/index.scss
Labels: card, demo, docs, example, examples, index, style

#170 feat(card): card样式修改
  src/style/abstracts/_variable.scss
  src/style/card.scss
Labels: card, style

#173 feat: 折叠面板升级
  examples/demo/pages/collapse.vue
  packages/collapse/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/collapse-item.scss
  src/style/collapse.scss
Labels: collapse, demo, example, examples, style

#172 feat: 新增组件 select-picker
  components.json
  examples/demo/pages/loading.vue
  examples/demo/pages/selectPicker.vue
  examples/demo/routes.yml
  examples/docs/docs/changelog.md
  examples/docs/docs/checkbox.md
  examples/docs/docs/colPicker.md
  examples/docs/docs/datetimePicker.md
  examples/docs/docs/datetimePickerView.md
  examples/docs/docs/loading.md
  examples/docs/docs/pickerView.md
  examples/docs/docs/selectPicker.md
  examples/docs/routes.yml
  packages/datetime-picker-view/src/main.vue
  packages/datetime-picker/src/main.vue
  packages/loading/src/main.vue
  packages/picker-view/src/main.vue
  packages/picker-view/src/pickerViewProps.js
  packages/picker/src/main.vue
  packages/picker/src/pickerProps.js
  packages/select-picker/index.js
  packages/select-picker/src/cellProps.js
  packages/select-picker/src/main.vue
  packages/select-picker/src/selectProps.js
  src/index.js
  src/mixins/picker.js
  src/style/abstracts/_variable.scss
  src/style/checkbox-group.scss
  src/style/index.scss
  src/style/picker.scss
  src/style/radio-group.scss
  src/style/select-picker.scss
  src/utils/gradient.js
Labels: changelog, colPicker, datetimePicker, datetimePickerView, demo, docs, example, examples, index, loading, mixins, picker, pickerView, selectPicker, style

#175 feat(anchor): 锚点组件
  components.json
  examples/demo/pages/anchor.vue
  examples/demo/routes.yml
  examples/docs/docs/anchor.md
  examples/docs/routes.yml
  packages/anchor/index.js
  packages/anchor/src/main.vue
  src/index.js
  src/style/abstracts/_variable.scss
  src/style/anchor.scss
  src/style/index.scss
Labels: anchor, demo, docs, example, examples, index, style

#176 fix: button颜色
  examples/demo/pages/actionSheet.vue
  examples/demo/pages/badge.vue
  examples/demo/pages/button.vue
  examples/demo/pages/card.vue
  examples/demo/pages/cell.vue
  examples/demo/pages/colPicker.vue
  examples/demo/pages/datetimePicker.vue
  examples/demo/pages/dropMenu.vue
  examples/demo/pages/form.vue
  examples/demo/pages/input.vue
  examples/demo/pages/loading.vue
  examples/demo/pages/messageBox.vue
  examples/demo/pages/picker.vue
  examples/demo/pages/popover.vue
  examples/demo/pages/popup.vue
  examples/demo/pages/selectPicker.vue
  examples/demo/pages/steps.vue
  examples/demo/pages/swipeAction.vue
  examples/demo/pages/toast.vue
  examples/demo/pages/tooltip.vue
  examples/docs/docs/actionSheet.md
  examples/docs/docs/anchor.md
  examples/docs/docs/badge.md
  examples/docs/docs/button.md
  examples/docs/docs/card.md
  examples/docs/docs/cell.md
  examples/docs/docs/changelog.md
  examples/docs/docs/colPicker.md
  examples/docs/docs/datetimePicker.md
  examples/docs/docs/dropMenu.md
  examples/docs/docs/form.md
  examples/docs/docs/loading.md
  examples/docs/docs/messageBox.md
  examples/docs/docs/picker.md
  examples/docs/docs/popup.md
  examples/docs/docs/selectPicker.md
  examples/docs/docs/swipeAction.md
  packages/button/src/main.vue
  packages/loading/src/main.vue
  packages/message-box/src/main.vue
  packages/select-picker/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/button.scss
Labels: actionSheet, badge, button, card, cell, colPicker, datetimePicker, demo, docs, dropMenu, example, examples, form, input, loading, messageBox, picker, popover, popup, selectPicker, steps, style, swipeAction, toast, tooltip

#174 feat(pagination): 新增分页组件
  components.json
  examples/demo/pages/pagination.vue
  examples/demo/routes.yml
  examples/docs/docs/pagination.md
  examples/docs/routes.yml
  package-lock.json
  packages/pagination/index.js
  packages/pagination/src/main.vue
  src/index.js
  src/locale/lang/en-US.js
  src/locale/lang/zh-CN.js
  src/style/abstracts/_variable.scss
  src/style/button.scss
  src/style/index.scss
  src/style/pagination.scss
Labels: demo, docs, example, examples, i18n, index, pagination, style

#179 feat: sort button 补全
  examples/demo/pages/actionSheet.vue
  examples/demo/pages/sortButton.vue
  examples/docs/docs/sortButton.md
  packages/select-picker/src/main.vue
  packages/sort-button/src/main.vue
Labels: actionSheet, demo, docs, example, examples, sortButton

#180 feat: steps 步骤条升级
  examples/demo/pages/steps.vue
  packages/step/src/main.vue
  src/style/abstracts/_variable.scss
  src/style/step.scss
Labels: demo, example, examples, step, steps, style

#185 feat: 区域选择交互修改，添加tab切换事件
  examples/demo/pages/collapse.vue
  examples/demo/pages/datetimePicker.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/datetimePicker.md
  packages/datetime-picker-view/src/main.vue
  packages/datetime-picker/src/main.vue
  packages/picker-view/src/pickerColumn.vue
  packages/picker/src/main.vue
  src/mixins/picker.js
  src/style/abstracts/_variable.scss
  src/style/picker-view.scss
  src/style/picker.scss
Labels: changelog, collapse, datetimePicker, demo, docs, example, examples, mixins, picker, style
