Repository jd-ftf/wot-design, pull requests merged in 2021-09, with the labels that each got.

#330 config: ci/cd config change
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .travis.yml
  build/deploy/change-log.js
  build/deploy/check-deploy.js
  build/deploy/delete-old.js
  build/deploy/script.sh
Labels: build, deploy, travis

#323 docs: 修复demo和文档
  examples/demo/pages/sticky.vue
  examples/demo/routes.yml
  examples/docs/docs/changelog.md
  examples/docs/routes.yml
  src/index.js
Labels: example, demo, examples, docs, changelog, sticky

#329 feat: 扩展上传组件支持自定义文件上传
  examples/docs/docs/upload.md
  packages/upload/src/main.vue
Labels: example, docs, upload
