Repository jd-ftf/wot-design, pull requests merged in 2021-04, with the labels that each got.

#280 feat(datetimePicker): 新增 default-value 属性
  examples/demo/pages/datetimePicker.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/datetimePicker.md
  packages/datetime-picker-view/src/main.vue
  packages/datetime-picker/src/main.vue
Labels: changelog, datetimePicker, demo, docs, example, examples

#281 feat(number-keyboard): 新增数字键盘组件
  components.json
  examples/demo/pages/numberKeyboard.vue
  examples/demo/routes.yml
  examples/docs/docs/changelog.md
  examples/docs/docs/numberKeyboard.md
  examples/docs/docs/search.md
  examples/docs/routes.yml
  packages/number-keyboard/index.js
  packages/number-keyboard/src/main.vue
  packages/search/src/main.vue
  src/index.js
  src/locale/lang/en-US.js
  src/locale/lang/th-TH.js
  src/locale/lang/zh-CN.js
  src/style/abstracts/_variable.scss
  src/style/fonts/wd-icons.svg
  src/style/fonts/wd-icons.ttf
  src/style/icon.scss
  src/style/index.scss
  src/style/numberKeyboard.scss
Labels: changelog, demo, docs, example, examples, i18n, icon, index, numberKeyboard, search, style

#283 fix(upload): 修复 disabled 状态下可以删除图片的问题
  examples/docs/docs/changelog.md
  packages/upload/src/main.vue
Labels: changelog, docs, example, upload

#284 feat(switch): 新增 before-change 属性
  examples/demo/pages/switch.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/switch.md
  packages/switch/src/main.vue
Labels: changelog, demo, docs, example, examples, switch

#285 fix(tooltip): tooltip 定位优化
  examples/docs/docs/changelog.md
  packages/tooltip/src/main.vue
  src/mixins/popover.js
  src/style/tooltip.scss
Labels: changelog, docs, example, mixins, popover, style, tooltip

#286 fix(tabbar): 修复tabbar设置 name 属性无法高亮的问题
  examples/demo/icon.json
  examples/docs/docs/changelog.md
  packages/tabbar/src/main.vue
Labels: changelog, demo, docs, example, tabbar

#287 feat: 添加 safe-area-inset-bottom 底部安全区域
  examples/docs/assets/style/markdown.scss
  examples/docs/docs/actionSheet.md
  examples/docs/docs/changelog.md
  examples/docs/docs/colPicker.md
  examples/docs/docs/commonProblems.md
  examples/docs/docs/datetimePicker.md
  examples/docs/docs/numberKeyboard.md
  examples/docs/docs/picker.md
  examples/docs/docs/popup.md
  examples/docs/docs/selectPicker.md
  examples/docs/routes.yml
  packages/action-sheet/src/main.vue
  packages/col-picker/src/main.vue
  packages/datetime-picker/src/main.vue
  packages/number-keyboard/src/main.vue
  packages/picker/src/main.vue
  packages/picker/src/pickerProps.js
  packages/popup/src/main.vue
  packages/select-picker/src/main.vue
  src/style/action-sheet.scss
  src/style/calendar-view.scss
  src/style/index.scss
  src/style/number-keyboard.scss
  src/style/popup.scss
Labels: actionSheet, changelog, colPicker, commonProblems, datetimePicker, docs, example, index, numberKeyboard, picker, popup, selectPicker, style

#288 feat: 调整边框为 0.5 像素，优化文档
  examples/demo/components/demoBlock.vue
  examples/demo/pages/index.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/colPicker.md
  examples/docs/layout/scrollTop.vue
  examples/docs/layout/sideTabs.vue
  packages/card/src/main.vue
  src/style/abstracts/_mixin.scss
  src/style/abstracts/_variable.scss
  src/style/button.scss
  src/style/card.scss
  src/style/divider.scss
  src/style/grid-item.scss
  src/style/input-number.scss
  src/style/popover.scss
  src/style/step.scss
  src/style/switch.scss
Labels: button, card, changelog, demo, divider, docs, example, examples, index, popover, step, style, switch

#289 feat(selectPicker): 添加filterable属性
  examples/demo/pages/selectPicker.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/selectPicker.md
  packages/select-picker/src/main.vue
  src/style/select-picker.scss
Labels: changelog, demo, docs, example, examples, selectPicker

#290 Input number
  examples/demo/pages/inputNumber.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/colPicker.md
  examples/docs/docs/datetimePicker.md
  examples/docs/docs/inputNumber.md
  examples/docs/docs/picker.md
  examples/docs/docs/selectPicker.md
  packages/col-picker/src/main.vue
  packages/input-number/src/main.vue
  packages/picker/src/pickerProps.js
  packages/select-picker/src/main.vue
  src/mixins/picker.js
  src/style/abstracts/_variable.scss
  src/style/col-picker.scss
  src/style/picker-view.scss
  src/style/picker.scss
  src/style/select-picker.scss
Labels: changelog, colPicker, datetimePicker, demo, docs, example, examples, inputNumber, mixins, picker, selectPicker, style

#292 docs: 文档格式统一，添加最低版本
  examples/docs/docs/actionSheet.md
  examples/docs/docs/anchor.md
  examples/docs/docs/badge.md
  examples/docs/docs/button.md
  examples/docs/docs/calendarView.md
  examples/docs/docs/card.md
  examples/docs/docs/cell.md
  examples/docs/docs/checkbox.md
  examples/docs/docs/colPicker.md
  examples/docs/docs/collapse.md
  examples/docs/docs/color.md
  examples/docs/docs/curtain.md
  examples/docs/docs/datetimePicker.md
  examples/docs/docs/datetimePickerView.md
  examples/docs/docs/divider.md
  examples/docs/docs/dropMenu.md
  examples/docs/docs/font.md
  examples/docs/docs/grid.md
  examples/docs/docs/icon.md
  examples/docs/docs/img.md
  examples/docs/docs/imgPreview.md
  examples/docs/docs/infiniteLoad.md
  examples/docs/docs/input.md
  examples/docs/docs/layout.md
  examples/docs/docs/loading.md
  examples/docs/docs/messageBox.md
  examples/docs/docs/navbar.md
  examples/docs/docs/noticeBar.md
  examples/docs/docs/numberKeyboard.md
  examples/docs/docs/pagination.md
  examples/docs/docs/picker.md
  examples/docs/docs/pickerView.md
  examples/docs/docs/popover.md
  examples/docs/docs/popup.md
  examples/docs/docs/progress.md
  examples/docs/docs/pullRefresh.md
  examples/docs/docs/radio.md
  examples/docs/docs/rate.md
  examples/docs/docs/search.md
  examples/docs/docs/selectPicker.md
  examples/docs/docs/slider.md
  examples/docs/docs/sortButton.md
  examples/docs/docs/statusTip.md
  examples/docs/docs/steps.md
  examples/docs/docs/sticky.md
  examples/docs/docs/swipe.md
  examples/docs/docs/swipeAction.md
  examples/docs/docs/switch.md
  examples/docs/docs/tabbar.md
  examples/docs/docs/tabs.md
  examples/docs/docs/tag.md
  examples/docs/docs/toast.md
  examples/docs/docs/tooltip.md
  examples/docs/docs/upload.md
  packages/swipe-action/src/main.vue
Labels: actionSheet, anchor, badge, button, calendarView, card, cell, checkbox, colPicker, collapse, color, curtain, datetimePicker, datetimePickerView, divider, docs, dropMenu, example, font, grid, icon, img, imgPreview, infiniteLoad, input, layout, loading, messageBox, navbar, noticeBar, numberKeyboard, pagination, picker, pickerView, popover, popup, progress, pullRefresh, radio, rate, search, selectPicker, slider, sortButton, statusTip, steps, sticky, swipe, swipeAction, switch, tabbar, tabs, tag, toast, tooltip, upload

#282 Calendar2
  components.json
  examples/demo/pages/calendar.vue
  examples/demo/pages/calendarView.vue
  examples/demo/routes.yml
  examples/docs/docs/calendar.md
  examples/docs/docs/calendarView.md
  examples/docs/docs/changelog.md
  examples/docs/routes.yml
  package-lock.json
  package.json
  packages/calendar-view/src/main.vue
  packages/calendar-view/src/month.vue
  packages/calendar-view/src/monthPanel.vue
  packages/calendar-view/src/utils.js
  packages/calendar-view/src/year.vue
  packages/calendar-view/src/yearPanel.vue
  packages/calendar/index.js
  packages/calendar/src/main.vue
  packages/col-picker/src/main.vue
  packages/tabs/src/main.vue
  src/index.js
  src/locale/lang/en-US.js
  src/locale/lang/th-TH.js
  src/locale/lang/zh-CN.js
  src/style/calendar-view.scss
  src/style/calendar.scss
  src/style/calendarView.scss
  src/style/cell-group.scss
  src/style/index.scss
Labels: calendar, calendarView, changelog, demo, docs, example, examples, i18n, index, style, tabs

#293 Fix
  build/build-entry.js
  examples/demo/pages/loading.vue
  examples/demo/pages/toast.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/imgPreview.md
  examples/docs/docs/messageBox.md
  examples/docs/docs/quickUse.md
  examples/docs/docs/toast.md
  packages/img-preview/index.js
  packages/message-box/index.js
  packages/picker-view/src/main.vue
  packages/toast/index.js
  src/index.js
Labels: build, changelog, demo, docs, example, examples, imgPreview, loading, messageBox, quickUse, toast

#295 fix: 修复按需引入下部分组件缺少样式的问题，优化navbar 深色背景
  examples/docs/docs/changelog.md
  src/style/abstracts/_variable.scss
  src/style/col-picker.scss
  src/style/datetime-picker-view.scss
  src/style/drop-menu.scss
  src/style/img-preview.scss
  src/style/input-number.scss
  src/style/input.scss
  src/style/message-box.scss
  src/style/number-keyboard.scss
  src/style/pagination.scss
  src/style/select-picker.scss
  src/style/status-tip.scss
  src/style/step.scss
  src/style/steps.scss
  src/style/tooltip.scss
  src/style/upload.scss
Labels: changelog, docs, example, input, pagination, step, steps, style, tooltip, upload

#294 Imgcrop
  components.json
  examples/demo/icon.json
  examples/demo/index.html
  examples/demo/main.js
  examples/demo/pages/imgCropper.vue
  examples/demo/pages/upload.vue
  examples/demo/routes.yml
  examples/docs/docs/changelog.md
  examples/docs/docs/imgCropper.md
  examples/docs/docs/steps.md
  examples/docs/routes.yml
  packages/img-cropper/index.js
  packages/img-cropper/src/main.vue
  packages/upload/src/main.vue
  src/index.js
  src/locale/lang/en-US.js
  src/locale/lang/th-TH.js
  src/locale/lang/zh-CN.js
  src/style/abstracts/_variable.scss
  src/style/fonts/wd-icons.svg
  src/style/fonts/wd-icons.ttf
  src/style/icon.scss
  src/style/img-cropper.scss
  src/style/index.scss
Labels: changelog, demo, docs, example, examples, icon, imgCropper, index, steps, style, upload

#296 fix(img-cropper): 优化图片截取组件
  examples/demo/pages/imgCropper.vue
  examples/demo/routes.yml
  examples/docs/docs/imgCropper.md
  examples/docs/routes.yml
  packages/img-cropper/src/main.vue
  packages/upload/src/main.vue
  src/locale/lang/zh-CN.js
Labels: demo, docs, example, examples, i18n, imgCropper, upload

#297 release: 2.3.0
  examples/demo/pages/imgCropper.vue
  examples/docs/docs/changelog.md
  examples/docs/docs/imgCropper.md
  package.json
  packages/img-cropper/src/main.vue
  src/index.js
Labels: changelog, demo, docs, example, examples, imgCropper, package

#298 release: 2.3.1 修复国际化问题
  package.json
  src/index.js
  src/locale/lang/zh-CN.js
Labels: i18n, package

#299 fix(img-cropper): 修复图片裁剪问题
  examples/docs/docs/changelog.md
  examples/docs/docs/imgCropper.md
  packages/img-cropper/src/main.vue
Labels: changelog, docs, example, imgCropper
