Repository jd-ftf/wot-design, pull requests merged in 2021-06, with the labels that each got.

#311 style(pagination): repair separator mistakes
  src/style/abstracts/_variable.scss
  src/style/pagination.scss
Labels: pagination, style

#312 feat(tabs): 在不同宽度容器下tabStyle保持正确宽度
  packages/tabs/src/main.vue
Labels: tabs

#318 fix: bug 修复 #315
  examples/docs/docs/changelog.md
  package.json
  packages/upload/src/main.vue
  src/index.js
Labels: changelog, docs, example, package, upload

#319 Fix radio
  examples/demo/pages/swipeAction.vue
  examples/demo/pages/toast.vue
  examples/docs/assets/style/_variable.scss
  examples/docs/docs/changelog.md
  examples/docs/docs/loading.md
  examples/docs/docs/swipeAction.md
  examples/docs/docs/toast.md
  examples/docs/layout/header.vue
  examples/docs/layout/progress.vue
  examples/docs/layout/sideTabs.vue
  examples/docs/route.js
  examples/docs/utils/event.js
  packages/select-picker/src/main.vue
  packages/toast/index.js
  packages/toast/src/main.vue
Labels: changelog, demo, docs, example, examples, loading, toast

#320 fix(messageBox): 修复部分属性未重置的问题
  examples/docs/docs/changelog.md
  examples/docs/docs/messageBox.md
  packages/message-box/index.js
Labels: changelog, docs, example, messageBox

#321 release: 2.4.0
  examples/docs/docs/changelog.md
Labels: changelog, docs, example
